#index_payment{
    height: 100%;
    p.glass-form{
        border-radius: 15px 50px;
    }

    h1{
        height: 10%;
    }
    #sponsor_paragraph{
        background: rgb(54, 131, 38, 0.7);
    }
    #sponsor_cards{
        .sponsorship-card{
            border-radius: 15px 50px;
            height: 500px;
            margin: 40px auto;

            color: black;
            transition: all 0.3s ease-in-out;
            &:hover{
                background: white;
            }
        }
        #card_1{
            background-color: rgba(219, 112, 42, 0.75);
            background-color: blur(6);
            h1{
                color: rgb(194, 99, 44);
            }
            box-shadow: rgba(219, 112, 42, 0.75) 0px 22px 70px 7px;
            &:hover{

                scale: 1.1;
                box-shadow: rgba(170, 88, 41, 0.75) 0px 22px 70px 20px;
            }
        }

        #card_2{
            background-color: rgba(200, 200, 200, 0.7);
            h1{
                color: rgb(145, 145, 145);
            }
            box-shadow: rgba(160, 160, 160, 0.75) 0px 22px 70px 7px;
            &:hover{
                scale: 1.1;
                box-shadow: rgba(160, 160, 160, 0.85) 0px 22px 70px 40px;
            }
        }

        #card_3{
            background-color: rgba(219, 190, 0, 0.7);
            h1{
                color: rgb(255, 251, 0);
            }
            box-shadow: rgba(223, 187, 103, 0.75) 0px 22px 70px 4px;
            &:hover{
                scale: 1.1;
                box-shadow: rgba(223, 187, 103, 0.75) 0px 22px 70px 15px;
            }
        }

    }

    #box_form{

        #payment_form{
            box-shadow: 0px 0px 30px  rgba(0, 0, 0, 0.5);

            .payment-box{

                .drop-in-box{

                }
            }
        }
    }

}
