*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app{
    height: 100vh;
    overflow: hidden;
}
body{
    font-family: 'Nunito', sans-serif;
    background-color: rgb(226, 220, 205);
    color: white;
}
main{
    height: calc(100% - 70px);
    overflow-y: auto;
}
.glass-form{
    background: rgba(255, 255, 255, 0.36);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

input:focus {
    box-shadow: 0 0 5px 0 rgba(25, 61, 18,0.7) !important;
}

.icon_box {
    font-size: 100px;
    text-align: center;
}

.btn-green {
    background-color: rgba(25, 61, 18,0.7);
    color: rgba(255, 255, 255, .8);
    &:hover {
        background-color: rgba(25, 61, 18,1);
        color: rgba(255, 255, 255, .8);
    }
}


.btn-link {
    color: rgba(25, 61, 18,0.7);
    &:hover {
    color: rgba(25, 61, 18,1);

    }
}
